{% extends 'base.html' %}
{% block content %}

<h2>{{title}}</h2>

<div class="collapse">
{% for msg in messages %}

<span class="toast">
{{ msg|safe }}<span class="button msgi">&times;</span>
</span>

{% endfor %}
</div>
<hr/>


<section>
<div class="row cols-md-3">

{% for en in rows %}

<figure>

    {# thumbnail image.image "300x300" crop="100%" as im #}
    <a href="{% url "view" en.slug %}">
        <img src="{{ en.image.url }}" width="180" alt="{{en.slug}}"/>
    </a>
    {# endthumbnail #}

    <figcaption>{{ en.title }}</figcaption>

</figure>



{% empty %}

Изображений нет. Добавьте.

{% endfor %}

</div>
</section>


{% endblock %}